<div id="<%= dom_id(budget, :confirm_button) %>">
  <%= render DS::Button.new(
    text: t("budget_categories.confirm_button.confirm"),
    variant: "primary",
    full_width: true,
    href: budget_path(budget),
    method: :get,
    disabled: !budget.allocations_valid?
  ) %>
</div>
